body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    text-align: center;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h1,
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .code-example {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  pre {
    margin: 0;
  }